<!DOCTYPE html>
<html>

{{>head}}

<body>

<script type="text/javascript" src="/files/js/views/show.js"></script>
<script type="text/javascript" src="/files/js/encode.js"></script>

{{>mainHeader}}

<div id="bodyFirstBorder">
    <div id="bodySecondBorder">
        <div id="body">

            <header id="radiantHeaderShow">
                <h1>Radiant</h1>
            </header>

            <header id="versusHeader">
                <h1><img src="../files/image/versus.png"></h1>
            </header>

            <header id="direHeaderShow">
                <h1>Dire</h1>
            </header>

            <section id="radiantIcons">
                <img id="radiantFP" class="icons" src="../files/image/fp.png">
            </section>

            <section id="versusIcons">
                <h1></h1>
            </section>

            <section id="direIcons">
                <img id="direFP" class="icons" src="../files/image/fp.png">
            </section>

            <h1 id="bansShow">Bans</h1>

            <section id="infoRadiantBanShow">
                <img class="pictureAreaBanPickShow" id="radiantBan1" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow" id="radiantBan2" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow" id="radiantBan3" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow" id="radiantBan4" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow" id="radiantBan5" src="/files/image/empty.png">
            </section>

            <section id="infoDireBanShow">
                <img class="pictureAreaBanPickShow" id="direBan1" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow" id="direBan2" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow" id="direBan3" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow" id="direBan4" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow" id="direBan5" src="/files/image/empty.png">
            </section>

            <h1 id="picksShow">Picks</h1>

            <section id="infoRadiantPickShow">
                <img class="pictureAreaBanPickShow radiantPick" id="radiantPick1" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow radiantPick" id="radiantPick2" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow radiantPick" id="radiantPick3" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow radiantPick" id="radiantPick4" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow radiantPick" id="radiantPick5" src="/files/image/empty.png">
            </section>

            <section id="infoDirePickShow">
                <img class="pictureAreaBanPickShow direPick" id="direPick1" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow direPick" id="direPick2" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow direPick" id="direPick3" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow direPick" id="direPick4" src="/files/image/empty.png">
                <img class="pictureAreaBanPickShow direPick" id="direPick5" src="/files/image/empty.png">
            </section>
            <h1 id="position">Positions</h1>

            <div id="radiant">
                <div id="radiantMid"></div>
                <div id="radiantTop"></div>
                <div id="radiantBot"></div>
                <div id="radiantWoods"></div>
                <div id="radiantRoam"></div>
            </div>

            <div id="mid">

                <div id="vsMid">
                    <h1>- Middle -</h1>
                </div>
                <div id="vsTop">
                    <h1>- Top -</h1>
                </div>
                <div id="vsBot">
                    <h1>- Bot -</h1>
                </div>
                <div id="vsWoods">
                    <h1>- Woods -</h1>
                </div>
                <div id="vsRoam">
                    <h1>- Roam -</h1>
                </div>
            </div>

            <div id="dire">
                <div id="direMid"></div>
                <div id="direTop"></div>
                <div id="direBot"></div>
                <div id="direWoods"></div>
                <div id="direRoam"></div>
            </div>


            </div>

        </div>
    </div>
</div>

{{>mainFooter}}

</body>
</html>