<head>
    <title>{{title}}</title>

    <link rel="shortcut icon" type="image/png" href="/files/image/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/files/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/files/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/files/css/jquery-ui-1.8.23.custom.css"/>

    <meta charset="UTF-8"/>
    <meta http-equiv="content-type" content="text/html"/>
    <meta name="application-name" content="Dota 2 Draft"/>
    <meta name="author" content="Vincent 'Philaeux' Lamotte"/>
    <meta name="description" content="Web draft simulator for the Captain's Mode and Captain's Draft of the game Dota 2.
    Train yourself against friends or complete strangers. Spectate running draft sessions."/>
    <meta name="keywords" content="Dota 2, Draft, Simulator, Captain's Mode, Captain's Draft, CM, CD, Modes"/>

    <script type="text/javascript" src="/files/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/files/js/jquery-ui-1.8.23.custom.min.js"></script>
</head>